# 🚀  Configuración del servidor
PORT=tu_puerto_aqui # Ejemplo: 3000

#  🛢️Configuración de la base de datos
HOST=tu_host_aqui # Ejemplo: localhost
PORTDB=puerto_de_tu_base_de_datos # Ejemplo: 5432
USERNAMEDB=tu_usuario_de_bd # Ejemplo: postgres
PASSDB=tu_contraseña_de_bd # No pongas valores reales aquí
DB=nombre_de_tu_base_de_datos # Ejemplo: demo_sql

# 🔐 Configuración de seguridad
SALT_ROUNDS=un_numero_aqui # Número de rondas para bcrypt (10-12 recomendado)
JWT_SECRET=tu_clave_secreta_aquí  # Generar una clave segura para JWT

# ✉️ Configuración de SendGrid
SENDGRID_API_KEY=SG.xxxxxx_tu_clave_aqui_xxxxxx
EMAIL_FROM=tuemailverificado@tudominio.com

# 🌍 Configuración del entorno
ENVIRONMENT=development
# Si ENVIRONMENT es "development", se mostrarán más detalles en errores , logs y cambiaran el formato de las consultas.
# Cualquier otro valor (o si se deja vacío) se tratará como producción.

